{% extends 'base.html.twig' %}
{% block title %}Bienvenue{% endblock %}
{% block body %}
<div class="container mb-5">
    <div class="row" id="rowImage">
        <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><img class="img-fluid d-xl-flex justify-content-xl-center" src="img/lou.png" style="" /></div>
    </div>
    <div class="row" id="rowTexte1">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center card-title">Bienvenue Voyageurs ! </h4>
                    <p class="text-center card-text"><br />Vous voici dans l&#39;antre de Lou ! Retrouvez sur ce site internet tous l&#39;univers du conte &quot;La Fabuleuse Histoire de Lou&quot; .<br />Vous y trouverez le conte complet en version texte &amp; version audio, la totalité
                        des musiques en libre écoute et les illustrations et recherches sur son élaboration !<br /><br />Vous souhaitez partager avec nous votre expérience du parcours immersif installé au château de Fougère-sur-Bièvre, n&#39;hésitez pas à partager
                        vos clichés dans l&#39;espace &quot;Vos Photos&quot; disponible dans le menu ou laisser un commentaire sur le livre d&#39;Or de Lou ! <br /><br />Nous vous souhaitons un bon voyage ! <br /><br />L&#39;équipe du Moonlight Project<br
                        /></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html.twig" %}
{% endblock %}
