<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-3 item">
                    <h3>&Agrave propos</h3>
                    <ul>
                        <li><a href="https://www.moonlight-proj.com/a-propos">Moonlight Project</a></li>
                        <li><a href="https://www.facebook.com/hakha.music.maker/">H4kh4</a></li>
                        <li><a href="http://www.oxygenmedia.fr/">oXygen Media</a></li>
                    </ul>
                </div>
                                <div class="col-sm-6 col-md-3 item">
                    <h3>Moonlight Project</h3>
                    <ul>
                        <li><a href="https://www.moonlight-proj.com/projets-culturel-events">Projet Culturels & &Eacutevents</a></li>
                        <li><a href="https://www.moonlight-proj.com/son-lumiere-videos">Son, Lumières & Vidéos</a></li>
                        <li><a href="https://www.moonlight-proj.com/education-artistique-culturel-1">&Eacuteducation Artistique & Culturel</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Partenaires</h3>
                    <p>oXygen Media, Backline, Centre des Monuments Nationaux, Ministère de la Culture</p>
                </div>
                <div class="col item social mt-4" style="color:black">

               
                
                <a href="https://www.facebook.com/Moonlight.Project.Crew/"target="_blank"> <i class="fab fa-facebook"></i></a>
            
                <a href="https://twitter.com/moonlightpjct"target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/the.moonlight.project/"target="_blank"><i class="fab fa-instagram"></i></a>
              
                </div>
            </div>
          
          {#   <p class="copyright">Euphony © 2019</p> #}
            <div class="text-center mt-3">
            <img src="img/Euphony.jpg" class="" style="text-align:center; width:18%" alt="">
            </div>
            
        </div>
    </footer>
</div>