<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-3 item">
                    <h3>&Agrave propos</h3>
                    <ul>
                        <li><a href="https://www.moonlight-proj.com/a-propos">Moonlight Project</a></li>
                        <li><a href="https://www.facebook.com/hakha.music.maker/">H4kh4</a></li>
                        <li><a href="http://www.oxygenmedia.fr/">oXygen Media</a></li>
                    </ul>
                </div>
                                <div class="col-sm-6 col-md-3 item">
                    <h3>Moonlight Project</h3>
                    <ul>
                        <li><a href="https://www.moonlight-proj.com/projets-culturel-events">Projet Culturels & &Eacutevents</a></li>
                        <li><a href="https://www.moonlight-proj.com/son-lumiere-videos">Son, Lumières & Vidéos</a></li>
                        <li><a href="https://www.moonlight-proj.com/education-artistique-culturel-1">&Eacuteducation Artistique & Culturel</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Partenaires</h3>
                    <p>oXygen Media, FL Group, Centre des Monuments natioaux, Ministère de la Culture, Ville de Chartres ??? on aimerai bien ) </p>
                </div>
                <div class="col item social mt-4"><a href="https://www.facebook.com/Moonlight.Project.Crew/"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/moonlightpjct">
                <i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/the.moonlight.project/"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Euphony © 2019</p>
        </div>
    </footer>
</div>