{% extends 'base.html.twig' %}

{% block title %}Illustrations{% endblock %}

{% block body %}

<body>
    <div class="photo-gallery"></div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Illustrations</h2>
                <p class="text-center">Quelques images du projet en cours de réalisations </p>
            </div>
            <div class="row photos">

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/1.jpg">
                    <img class="img-fluid" src="img/1.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/8.jpg">
                    <img class="img-fluid" src="img/8.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/2.jpg">
                    <img class="img-fluid" src="img/2.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/5.jpg">
                    <img class="img-fluid" src="img/5.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/12.jpg">
                    <img class="img-fluid" src="img/12.jpg" /></a>
                </div>

                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/14.jpg">
                    <img class="img-fluid" src="img/14.jpg" /></a>
                </div>
                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/3.jpg">
                    <img class="img-fluid" src="img/3.jpg" /></a>
                </div>
                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/9.jpg">
                    <img class="img-fluid" src="img/9.jpg" /></a>
                </div>
                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/5.jpg">
                    <img class="img-fluid" src="img/5.jpg" /></a>
                </div>
                
                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/10.jpg">
                    <img class="img-fluid" src="img/10.jpg" /></a>
                </div>

                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/15.jpg">
                    <img class="img-fluid" src="img/15.jpg" /></a>
                </div>

                 <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/18.jpg">
                    <img class="img-fluid" src="img/18.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/13.jpg">
                    <img class="img-fluid" src="img/13.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/4.jpg">
                    <img class="img-fluid" src="img/4.jpg" /></a>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 item mt-4">
                    <a data-lightbox="photos" href="img/11.jpg">
                    <img class="img-fluid" src="img/11.jpg" /></a>
                </div>



            </div>
        </div>
    </div>
</body>

{% endblock %}