{% extends 'base.html.twig' %}

{% block title %}Hello ConteController!{% endblock %}

{% block body %}

<div class="container" style="height:900px">


<object type="application/pdf" width="100%" height="100%">
   <param name="src" value="{{ asset('pdf/lou.pdf') }}" />
 
   <p>It appears your Web browser is not configured to display PDF files.
      No worries, just <a href="{{ asset('pdf/lou.pdf') }}">click here to download the PDF file.</a>
   </p> 
</object>
</div>

{% endblock %}
